.pokemon-information {
  width: 80%;
  min-height: fit-content;
}

.name {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 500;
}

.name span {
  color: rgba(160, 160, 160, 0.884);
  margin-left: 10px;
}

.pokemons-button {
  background-color: #ee6b2f;
  width: fit-content;
  height: 40px;
  display: block;
  margin: 10px auto;
}